@import "css.css";
@import "css_002.css";
@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "ddlevelsmenu-base.css";
@import "ddlevelsmenu-topbar.css";
@import "rs-settings.css";
@import "style.css";

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

.jumbotron {
  margin: 50px auto 0 auto;
}
[contenteditable="true"] { padding: 2px;
  margin-right: 20px;}
[contenteditable="true"]:hover { outline: 1px dotted #ccc; }

.editable:focus {
  outline: 1px dotted #ccc;
  /*background-color: #eee;*/
}

span.nodeId{font-size: .6em; color: "#8a8a8a"}

#recordTemplate {display:none}

dt{font-weight: normal}

.origText {
  display:none;
  background-color: #ccc;
}

a.delete i{color: #F75353;
  font-size: .8em;
}

a.delete {
  display: none;
}

.service {
    color: #444444;
    font-size: 1.3em;
    line-height: 28px;
    margin-top: 10px;
}
h1{
padding-top: 27px;
}
#sidebar {
  font-size: .6em;
  border-left: 1px dotted #CCCCCC;
}
kbd {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #FFFFFF inset;
    color: #333333;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
}

#signout {
  display: none;
}

.logo h5 {
    color: #FFFFFF;
    left: 130px;
    position: absolute;
    top: 67px;
}

ul {
  list-style: disc outside none;
}
