!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title MindFlowy
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "ResponsiveWebInc", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link(type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")
    %link(type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700")
    %link{:href => "styles/main.css", :rel => "stylesheet"}/
    / build:js scripts/vendor/modernizr.js
    %script{:src => "bower_components/modernizr/modernizr.js"}
    / endbuild
    / Favicon
    %link{:href => "#", :rel => "shortcut icon"}/
  %body
    / Header  Starts
    #undefined-sticky-wrapper.sticky-wrapper{:style => "height: 90px;"}
      %header{:style => ""}
        / Container
        .container
          .row
            .col-md-4.col-sm-4
              / Logo
              .logo
                %h1
                  %a{:href => "#"}
                    %i.fa.fa-sitemap
                    MindFlowy
            .col-md-8.col-sm-8
              / Navigation
              .navi
                / Menu
                #ddtopmenubar.mattblackmenu
                  / UnorderedList
                  %ul
                    / List
                    %li
                      %a{:href => "#.banner-container"} Home
                    %li
                      %a{:href => "#", :rel => "ddsubmenustyle"}
                        Pages
                        %span.caret
                          %img.downarrowpointer{:src => "images/arrow-down.gif", :style => "width: 11px; height: 7px;"}/
                      / Dropdown Submenu Style
                    %li
                      %a{:href => "#.service"} Service
                    %li
                      %a{:href => "#.about-us"} About
                    %li
                      %a{:href => "#.contact-us"} Account
            / Dropdown NavBar
            .navis
              %select
                %option{:selected => "selected", :value => ""} Menu
                %option{:value => "#.banner-container"} Home
                %option{:value => "#"} Pages
                %option{:value => "#.features"} Features
                %option{:value => "#.portfolio"} Portfolio
                %option{:value => "#.product"} Product
                %option{:value => "#.testimonials"} Testimonials
                %option{:value => "#.pricing"} Pricing
                %option{:value => "#.service"} Service
                %option{:value => "#.about-us"} About
                %option{:value => "#.contact-us"} Contact

    .container
      .jumbotron
        %h1 Yo!!
        %ul
          %li HTML5 Boilerplate
          %li Bootstrap
          %li
            Font Awesome
            %i.fa.fa-flag
            %i.fa.fa-comment

    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    %script(src="http://static.firebase.com/v0/firebase.js")
    %script(src="https://cdn.firebase.com/v0/firebase-simple-login.js")
    / build:js scripts/main.js
    %script{:src => "bower_components/jquery/jquery.js"}
    %script{:src => "scripts/main.js"}
    / endbuild


